name: Sync X Posts

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install tweepy selenium webdriver-manager selenium-stealth feedparser undetected-chromedriver ntscraper requests  beautifulsoup4 lxml

      - name: Run sync script
        env:
          TWITTER_BEARER_TOKEN: ${{ secrets.TWITTER_BEARER_TOKEN }}
        run: python sync_tweets.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          if [ -f my_tweets.md ]; then
            git add my_tweets.md
            git diff-index --quiet HEAD || (git commit -m "Automated update: $(date)" && git push)
          fi
